// Neutrals
$white: #ffffff;
$black: #000000;
$off-white: #f2f0f1;
$light-gray: #f0eeed;
$gray: #f0f0f0;

// Transparent blacks
$black-40: hsla(0, 0%, 0%, 0.4);
$black-60: hsla(0, 0%, 0%, 0.6);

// Accent
$red: #ff3333;

$satoshi: 'Satoshi', sans-serif;
$integral: 'Integral CF';
