.shop {
  h1 {
    text-align: center;
    margin-block: 1rem;
  }
  &__grid {
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(rem(200), 1fr));
      gap: 32px;
    }

    li {
      display: flex;
      justify-content: center;
    }

    a {
      &:focus-within img {
        transform: scale(1.02);
      }
    }
  }
}
