.shop {
  margin-block: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  align-items: center;

  gap: 24px;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
