.shop {
  padding-block-start: 12px;
  h1 {
    text-align: center;
    margin-block: 16px;
  }
  &__grid {
    ul {
      display: grid;
      justify-content: space-between;
      grid-template-columns: repeat(auto-fit, minmax(rem(200), 1fr));
      gap: 32px;
    }

    li {
      @include flex(row, stretch, center);
      width: 100%;
    }

    a {
      transition: all 0.2s ease(in-out-cubic);

      &:hover img {
        transform: scale(1.02);
      }

      &:focus-within img {
        transform: scale(1.02);
      }
    }
  }
}
