%border-13 {
  border-radius: 13.4237px;
}

.productCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  border: 1px solid $gray;
  @extend %border-13;
  padding: 12px;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 2px 8px rgba($black, 0.1);
  }

  &__imageWrapper {
    background-color: $light-gray;
    @extend %border-13;
    display: flex;
    margin-bottom: 12px;
    overflow: hidden;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__title {
    font-weight: 700;
    margin-bottom: 8px;
    @include media('>=tablet') {
      font-size: rem(20);
    }
  }

  &__rating {
    display: flex;
    gap: 4px;
    font-size: rem(12);
    margin-bottom: 8px;
    img {
      width: 15px;
    }
    span {
      color: $black-60;
    }
  }

  &__stars {
    display: flex;
  }

  &__ratingText {
    color: $black-60;
  }

  &__prices {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: auto;
  }

  &__originalPrice {
    font-size: rem(20);
    font-weight: 700;
    color: $black-40;
    @include media('>=tablet') {
      font-size: rem(24);
    }
  }

  &__currentPrice {
    font-size: rem(20);
    font-weight: 700;
    @include media('>=tablet') {
      font-size: rem(24);
    }
  }

  &__discount {
    color: $red;
    font-size: rem(10);
    @include media('>=tablet') {
      font-size: rem(12);
    }
  }
}
