.productRating {
  display: flex;
  gap: 4px;
  font-size: rem(12);
  margin-bottom: 8px;

  &__stars {
    display: flex;
  }

  &__star {
    width: 15px;
  }

  &__score {
    color: $black-60;
  }
}
