%border-13 {
  border-radius: 13.4237px;
}

.productCard {
  @include flex(column, stretch, flex-start);
  width: 100%;
  height: 100%;
  border: 1px solid $gray;
  @extend %border-13;
  padding: 12px;
  transition: box-shadow 0.2s cubic-bezier(0.37, 0, 0.63, 1);

  &:hover {
    box-shadow: 0 2px 8px rgba($black, 0.1);
  }

  &:active {
    box-shadow: 0 0 0 0.25rem;
  }

  &__content {
    @include flex(column, stretch, flex-start);
    flex: 1;
  }

  &__title {
    font-weight: 700;
    margin-bottom: 8px;
    font-size: rem(18);
    @include media('>=tablet') {
      font-size: rem(20);
    }
  }
}
