.productCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;

  &__imageWrapper {
    background-color: $light-gray;
    border-radius: 13.4237px;
    display: flex;
    height: auto;

    img {
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-weight: 700;
  }

  &__stars {
    display: flex;
  }

  &__rating {
    display: flex;
    gap: 4px;
    font-size: rem(12);

    img {
      width: 15px;
    }
    span {
      color: $black-60;
    }
  }

  &__price {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: rem(20);
    font-weight: 700;
  }
}
