@use 'variables' as *;
@use 'functions' as *;
@use 'breakpoints' as *;

html {
  overscroll-behavior: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
}

body {
  font-family: $satoshi;
  font-size: 1rem;
  line-height: 1.5;
  background-color: $white;
  color: $black;
}

h1 {
  font-family: $integral;
}

.container {
  width: min(100% - rem(24), rem(1240));
  margin-inline: auto;
}

a,
button {
  border: none;
  background-color: transparent;
  &:focus-within {
    outline: none;
    border: none;
    box-shadow: 0 0 0 0.25rem;
  }
  color: $black;
}

%button {
  padding: 12px;
  text-align: center;
  border-radius: 62px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s cubic-bezier(0.37, 0, 0.63, 1);
  @include media('>=phone-sm') {
    padding: 16px 54px;
  }
  @include media('>=tablet') {
    font-size: rem(16);
  }
}

.button--primary {
  @extend %button;
  background: $black;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  &:active {
    transform: scale(0.9);
  }
}

.button--secondary {
  @extend %button;
  background: $gray;
  color: $black;
}

// Todo: add active and focus style to button
