@use 'variables' as *;
@use 'functions' as *;

html {
  overscroll-behavior: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
}

body {
  font-family: $satoshi;
  font-size: 1rem;
  line-height: 1.5;
  background-color: $white;
  color: $black;
}

h1,
h2,
h3,
h4 {
  font-family: $integral;
}

.container {
  width: min(100% - rem(24), rem(1240));
  margin-inline: auto;
}

a,
button {
  &:focus-within {
    outline: none;
    border: none;
    box-shadow: 0 0 0 0.25rem;
  }
  color: $black;
}
