.emptyCart {
  text-align: center;

  a {
    color: black;
    text-decoration: underline;
  }
}

%card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  @include flex(column, flex-start, flex-start);
  padding: 14px;
  gap: 16px;
  overflow: hidden;

  @include media('>=tablet') {
    gap: 24px;
    padding: 20px 24px;
  }
}
.cart {
  padding-block-end: 2rem;

  h1 {
    font-size: rem(32);
    line-height: 38px;
    margin-block-end: 1.5rem;

    @include media('>=tablet') {
      font-size: rem(40);
    }
  }

  &__container {
    display: grid;
    align-items: start;
    gap: 20px;
    @include media('>=laptop') {
      grid-template-columns: 2fr 1fr;
    }
  }

  &__item {
    @extend %card;

    > *:not(:first-child) {
      padding-block-start: 16px;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  &__itemCard {
    display: flex;
    gap: 14px;
    width: 100%;
  }

  &__itemImage {
    background-color: $light-gray;
    border-radius: 8.65772px;
    width: 99px;
    height: auto;

    @include media('<=tablet-sm') {
      max-height: 99px;
    }

    @include media('>=tablet') {
      width: 124px;
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__itemDetails {
    @include flex(column, stretch, flex-start);
    gap: 4px;
    width: 100%;

    h2 {
      font-size: rem(16);
      line-height: 20px;

      @include media('>=tablet') {
        font-size: rem(20);
      }
    }

    p {
      font-size: rem(12);

      @include media('>=tablet') {
        font-size: rem(14);
      }

      span {
        color: $black-60;
      }
    }
  }

  &__header {
    @include flex();
    gap: 16px;

    button {
      border: none;
      outline: transparent;
      background-color: transparent;
      cursor: pointer;
    }
  }

  &__footer {
    @include flex();
    gap: 16px;

    p:first-child {
      font-size: rem(20);
      font-weight: 700;

      @include media('>=tablet') {
        font-size: rem(24);
      }
    }

    p:nth-child(2) {
      font-size: rem(14);
      color: $black-60;
    }
  }

  &__counter {
    @include flex();
    gap: 12px;
    height: 31px;

    @include media('>=phone-sm') {
      padding: 14px 20px !important;
      width: 105px;
    }

    @include media('>=tablet-sm') {
      width: 126px;
      height: 44px;
    }

    button {
      font-size: rem(20);
      cursor: pointer;
      font-weight: 500;

      @include media('>=tablet') {
        font-size: rem(24);
      }
    }

    button:nth-of-type(2) {
      position: relative;
      bottom: 4px;
    }
  }

  &__checkout {
    @extend %card;

    @include media('>=tablet') {
      gap: 16px;
    }

    h3 {
      font-size: rem(20);

      @include media('>=tablet') {
        font-size: rem(24);
      }
    }

    button {
      width: 100%;
    }
  }

  &__row {
    width: 100%;
    @include flex(row, stretch, space-between);

    p,
    span {
      font-size: rem(16);
      color: $black-60;

      @include media('>=tablet') {
        font-size: rem(18);
      }
    }

    span {
      font-weight: 700;
      color: $black;
    }

    .discount {
      color: $red;
    }
  }

  .total {
    p {
      color: $black;
    }

    span {
      font-size: rem(20);
    }
  }

  .coupon {
    gap: 12px;

    @include media('<=phone-sm') {
      flex-direction: column;
    }

    div {
      gap: 10px;
      cursor: default;
      overflow: hidden;
      width: 100%;
      @include flex(row, center, flex-start);

      @include media('>=phone-sm') {
        padding: 12px 16px !important;
      }

      input {
        flex: 1;
        border: none;
        outline: none;
        background-color: transparent;
      }
    }

    button {
      @include media('>=phone-sm') {
        width: 88px;
        padding: 12px 16px !important;
      }

      @include media('>=tablet') {
        width: 119px;
      }
    }
  }
}
