.hamburger {
  width: 20px;
  height: 24px;
  @include flex(column, center, center);
  gap: 4px;
  background: transparent;

  &__line {
    width: 20px;
    height: 2px;
    background: $black;
    transition: all 0.3s cubic-bezier(0.37, 0, 0.63, 1);
    transform-origin: center;

    &--top-open {
      transform: translateY(6px) rotate(45deg);
    }

    &--middle-open {
      opacity: 0;
    }

    &--bottom-open {
      transform: translateY(-6px) rotate(-45deg);
    }

    @include media('>=laptop') {
      display: none;
    }
  }
}
