.hero {
  background-color: $off-white;
  margin-block-start: 1.5rem;
  overflow: hidden;
  position: relative;
  padding-block-start: 12px;

  @include media('>=tablet') {
    max-height: 994px;
  }

  @include media('>=laptop') {
    margin-block-start: 2rem;
    max-height: 685px;
  }

  &__container {
    @include flex(column, flex-start, space-between);
    @include media('>=laptop') {
      flex-direction: row;
    }
  }

  &__content {
    @include flex(column, stretch, flex-start);
    gap: 12px;
    flex: 1;
  }

  &__title {
    font-weight: 700;
    font-size: rem(36);
    line-height: clamp(rem(34), 1.2647058823529411rem + 3.5294117647058822vw, rem(64));
    vertical-align: middle;
    font-family: $integral;
    max-width: rem(450);
    font-size: 2.25rem;
    font-size: clamp(rem(36), 1.447058823529412rem + 3.294117647058823vw, rem(64));

    @include media('>=tablet-sm') {
      max-width: rem(600);
    }

    @include media('>=laptop', '<=desktop') {
      max-width: rem(750);
    }
  }

  &__description {
    font-size: rem(14);
    color: $black-60;
    display: block;
    max-width: 358px;
    line-height: 20px;
    font-size: 0.875rem;
    font-size: clamp(rem(14), 0.8176470588235294rem + 0.2352941176470588vw, rem(16));

    @include media('>=tablet-sm') {
      max-width: 600px;
    }

    @include media('>=tablet') {
      line-height: 22px;
      max-width: 645px;
    }

    @include media('>=desktop') {
      max-width: 545px;
    }
  }

  &__linkBtn {
    margin-block-start: 12px;

    @include media('>=tablet') {
      width: 510px;
    }

    @include media('>=desktop') {
      width: 310px;
    }
  }

  &__statsWrapper {
    @include flex(row, center, center);
    flex-wrap: wrap;
    gap: 8px 24px;

    @include media('>=tablet-sm') {
      gap: rem(32);
      justify-content: flex-start;
      padding-block-start: 1rem;
    }

    @include media('>=desktop') {
      > *:not(:first-child) {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        padding-inline-start: 24px;
      }
    }
  }

  &__stats {
    @include flex(column, flex-start, center);

    p {
      font-size: 700;
      font-size: 1.5rem;
      font-size: clamp(rem(24), 1.0411764705882354rem + 1.8823529411764703vw, rem(40));
      height: 32px;

      @include media('>=tablet') {
        height: 54px;
      }
    }

    span {
      font-size: rem(12);
      color: $black-60;

      @include media('>=tablet') {
        font-size: rem(16);
      }
    }
  }

  &__image {
    flex: 1;
    overflow: hidden;
    position: relative;

    img {
      @include media('>=385px') {
        position: relative;
        bottom: 30px;
      }
      @include media('>=phone-lg') {
        bottom: 60px;
      }
    }

    &::after,
    &::before {
      position: absolute;
      content: '';
      background-size: contain;
      background-repeat: no-repeat;
    }

    &::before {
      top: 150px;
      left: 20px;
      width: 35px;
      height: 35px;
      z-index: 2;
      background-image: url('/small-star.webp');

      @include media('>=tablet-sm') {
        top: 230px;
        left: 30px;
        width: 50px;
        height: 50px;
      }
    }

    &::after {
      top: 20px;
      right: 10px;
      width: 74px;
      height: 74px;
      z-index: 2;
      background-image: url('/big-star.webp');

      @include media('>=tablet-sm') {
        top: 60px;
        right: 5px;
        width: 104px;
        height: 104px;
      }
    }
  }

  &__partnersWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $black;

    @include media('>=tablet') {
      padding-block: 1rem;
    }
  }

  &__partners {
    @include flex(row, stretch, space-evenly);

    flex-wrap: wrap;

    @include media('<=tablet') {
      padding-block: 1rem;
      max-height: 84px;
    }

    img {
      @include media('<=tablet') {
        width: auto;
        height: 22px;
      }
    }
  }
}
